.scroll-selector {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; /* Firefox */
}

    .scroll-selector::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera*/
    }

.month-selector, .day-selector {
    padding: 10px;
}

.month-selector {
    background-color: #f44336; /* красный */
}

.day-selector {
    background-color: #4CAF50; /* зеленый */
}

.scroll-item {
    flex: 0 0 auto;
    width: 100px; /* или любая другая ширина, в зависимости от вашего дизайна */
    height: 100px; /* для квадратных блоков */
    margin: 0 5px;
    text-align: center;
    scroll-snap-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected {
    border: 2px solid #000; /* выделение выбранного элемента */
}
